<!-- Render initial content -->

<p><strong>Predicted Grade:</strong> @ViewBag.Predicted</p>
<p><strong>Current rating place in choosen university:</strong> @ViewBag.Rate / @ViewBag.NumberOfRegistration</p>
<p>Don`t worry, if you are not satisfied with this prediction, you can always do better.</p>
