@{
    ViewData["Title"] = "About";
}

<p style ="text-align:center;" class="startText">Hello from Kharkiv National University of Radio Electronics</p>
<img class="imageAbout" width="55%" height="60%" src="~/Images/nure.jpg"/>