@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="startText">
        Welcome to the Exam Regisrtation System.<br/>
        Here you can registrate student, add his school certificate, and select university you want to go.
    </p>
</div>
